service drm /system/bin/drmserver
    disabled
    class main
    user drm
    group drm system inet drmrpc readproc media_rw sdcard_rw
    writepid /dev/cpuset/foreground/tasks /dev/stune/foreground/tasks /dev/blkio/foreground/tasks

on property:drm.service.enabled=true
    start drm

on property:drm.service.enabled=1
    start drm
